<header class='top-page-header'>
  <div class='search-bar-contents'>
    <div class='title'>
    <%= link_to 'Gadget Expedition', root_path %>
    </div>
    <form class="search-form" action="#">
      <input class='input-box' placeholder='キーワードから探す'>
      <button class="search-button">
        <%= image_tag "search.png", class:"search-icon" %>
      </button>
    </form>
  </div>
</header>